<div class="container text-center" style="margin-top:10%;">
  <p><strong>本当に退会しますか？</strong></p>
  <p>
    退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <%= link_to '退会しない', customers_my_page_path, class: "btn btn-sm btn-primary mr-4 px-3" %>
  <%= link_to '退会する', customers_withdraw_path(current_customer.id, customer: {is_deleted: true}), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-danger px-4" %>
</div>