<div class="container text-center">
  <h1 class="my-5">About</h1>
  <h3>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーション絵おご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </h3>
  <div class="row">
    <div class="col-sm-8 offset-sm-2 px-0">
      <div class="about_img"></div>
    </div>
  </div>
</div>