<div class="container">
  <div class="row">
    <%= render "public/genres/sidebar", genres: @genres %>
    <div class="col-sm-9">
      <div class="row mt-5">
        <div class="top_img col-sm-9">
          <p class="mx-3 my-5">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員ではない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="row my-3">
        <h3><strong>新着商品</strong></h3>
      </div>
      <%= render "public/items/list", item: @item4 %>
      <div class="text-right">
        <u><%= link_to '全ての商品を見る>', items_path %></u>
      </div>
    </div>
  </div>
</div>