<div class="container">
  <h5 class="d-inline-block bg-light my-4 px-3">ジャンル編集</h5>
</div>
<div class="container ml-md-4">
  <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
    <div class="form-group row">
      <%= f.label :name, "ジャンル名", class: "col-sm-2 col-form-label" %>
      <%= f.text_field :name, class: "col-sm-4" %>
      <%= f.submit "変更を保存", class: "btn btn-success col-sm-2 offset-1" %>
    </div>
  <% end %>
</div>