<div class="col-sm-3 pl-sm-0 mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% genres.each do |genre| %>
            <%= link_to genre.name, genre_path(genre.id), class: "text-dark" %><br>
          <% end %>
        </td>
    </tr>
    </tbody>
  </table>
</div>